<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pages-trunk-20080703_5</string>
	<string>pages-trunk-20080829_1</string>
	<string>pages-trunk-20080921_1</string>
	<string>5E85</string>
</array>
</plist>
